/* 전체 로그인 div 스타일 */

.main {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
}

/* 폼 제목 스타일 */

.signup {
    margin: 10px;
}

.name {
    margin-top: 10%;
}


/* 라벨 스타일 */

label {
    display: block;
    font-weight: bold;
}


/* 입력 필드 스타일 */

.password {
    width: 80%;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


/* 버튼 스타일 */

button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* 버튼에 마우스를 올렸을 때의 스타일 */

button:hover {
    background-color: #0056b3;
}